<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDataHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDataHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MotionDataHandler.Properties.Settings>
            <setting name="Menu_RenameLabelHere" serializeAs="String">
                <value>ラベルを変更</value>
            </setting>
            <setting name="Menu_SetLabelHere" serializeAs="String">
                <value>ここにラベルを設定</value>
            </setting>
            <setting name="Menu_LoadFromFile" serializeAs="String">
                <value>ファイルから読み込む</value>
            </setting>
            <setting name="Menu_AddLabelBorderHere" serializeAs="String">
                <value>ここにラベル境界を追加</value>
            </setting>
            <setting name="Msg_InvalidFirstArgument" serializeAs="String">
                <value>第一引数が不正です</value>
            </setting>
            <setting name="Msg_SpecifyBoolean" serializeAs="String">
                <value>真理値を指定してください</value>
            </setting>
            <setting name="Msg_SpecifyNumber" serializeAs="String">
                <value>数値を指定してください</value>
            </setting>
            <setting name="Msg_ValueOutOfRange" serializeAs="String">
                <value>値が範囲外です</value>
            </setting>
            <setting name="Msg_SpecifyOneSequenceName" serializeAs="String">
                <value>シーケンス名を一つ指定してください</value>
            </setting>
            <setting name="Msg_SequenceNotFound" serializeAs="String">
                <value>シーケンスが見つかりません</value>
            </setting>
            <setting name="Msg_IndexOutOfRange" serializeAs="String">
                <value>インデックスが範囲外です</value>
            </setting>
            <setting name="Msg_SpecifyInteger" serializeAs="String">
                <value>整数値を指定してください</value>
            </setting>
            <setting name="Msg_SpecifyIndexOfColumnOrColumnName" serializeAs="String">
                <value>カラムのインデックスか，カラム名を指定してください</value>
            </setting>
            <setting name="Msg_ColumnNameNotFound" serializeAs="String">
                <value>カラム名が見つかりません</value>
            </setting>
            <setting name="Msg_LabelNameNotFound" serializeAs="String">
                <value>ラベル名が見つかりません</value>
            </setting>
            <setting name="Msg_InvalidNthArgument" serializeAs="String">
                <value>{0}番目の引数が不正です</value>
            </setting>
            <setting name="Menu_File" serializeAs="String">
                <value>ファイル(&amp;F)</value>
            </setting>
            <setting name="Menu_OpenTimeSeriesValues" serializeAs="String">
                <value>時系列データを開く</value>
            </setting>
            <setting name="Menu_SaveTimeSeriesValues" serializeAs="String">
                <value>時系列データを保存</value>
            </setting>
            <setting name="Menu_OpenFromFile" serializeAs="String">
                <value>ファイルから開く(&amp;O)</value>
            </setting>
            <setting name="Menu_SaveLabelData" serializeAs="String">
                <value>ラベルデータを保存</value>
            </setting>
            <setting name="Menu_OpenLabelData" serializeAs="String">
                <value>ラベルデータを開く</value>
            </setting>
            <setting name="Menu_OpenViewPanel" serializeAs="String">
                <value>ビューパネルを開く</value>
            </setting>
            <setting name="Menu_SaveViewPanel" serializeAs="String">
                <value>ビューパネルを保存</value>
            </setting>
            <setting name="Menu_LabelingBorderSettings" serializeAs="String">
                <value>ラベル境界の設定(&amp;B)</value>
            </setting>
            <setting name="Menu_RemoveLabelBorderHere" serializeAs="String">
                <value>ここのラベル境界を削除(&amp;R)</value>
            </setting>
            <setting name="Menu_BorderPositionSettings" serializeAs="String">
                <value>境界位置の設定(&amp;P)</value>
            </setting>
            <setting name="Menu_LabelNameSettings" serializeAs="String">
                <value>ラベル名の設定(&amp;N)</value>
            </setting>
            <setting name="Menu_ReApplyOperation" serializeAs="String">
                <value>直前の処理の再適用(&amp;A)</value>
            </setting>
            <setting name="Menu_OperationTimeSeriesValues" serializeAs="String">
                <value>時系列データの処理(&amp;T)</value>
            </setting>
            <setting name="Menu_OperationLabelSequence" serializeAs="String">
                <value>ラベル列の処理(&amp;L)</value>
            </setting>
            <setting name="Menu_StackGraphMode" serializeAs="String">
                <value>積み重ねグラフモード(&amp;S)</value>
            </setting>
            <setting name="Menu_ResetScale" serializeAs="String">
                <value>縮尺をリセット(&amp;R)</value>
            </setting>
            <setting name="Menu_HideSequence" serializeAs="String">
                <value>列を隠す(&amp;H)</value>
            </setting>
            <setting name="Menu_CloseThisViewPanel" serializeAs="String">
                <value>このビューパネルを閉じる(&amp;C)</value>
            </setting>
            <setting name="Menu_ZoomSelectedRange" serializeAs="String">
                <value>選択範囲を拡大(&amp;Z)</value>
            </setting>
            <setting name="Menu_SelectVisibleRange" serializeAs="String">
                <value>表示領域を全選択(&amp;V)</value>
            </setting>
            <setting name="Menu_InputSelectRange" serializeAs="String">
                <value>選択範囲を入力(&amp;I)</value>
            </setting>
            <setting name="Menu_ShowFrameIndex" serializeAs="String">
                <value>フレームインデックスを表示(&amp;F)</value>
            </setting>
            <setting name="Menu_ReView" serializeAs="String">
                <value>再表示</value>
            </setting>
            <setting name="Menu_ReApply" serializeAs="String">
                <value>再適用</value>
            </setting>
            <setting name="Menu_UnzoomSelectedRange" serializeAs="String">
                <value>選択範囲へ縮小(&amp;U)</value>
            </setting>
            <setting name="Menu_ClipSelectedRange" serializeAs="String">
                <value>選択範囲を切り抜き(&amp;C)</value>
            </setting>
            <setting name="Msg_ObjectNameCannotBeNull" serializeAs="String">
                <value>オブジェクト名にnullを指定できません</value>
            </setting>
            <setting name="Msg_ObjectNotFound" serializeAs="String">
                <value>オブジェクトが見つかりません</value>
            </setting>
            <setting name="Msg_InvalidTargetObjectSpecified" serializeAs="String">
                <value>処理の対象とならないオブジェクトが指定されました</value>
            </setting>
            <setting name="Msg_ImproperObjectSelection" serializeAs="String">
                <value>オブジェクトの選択が不適当です</value>
            </setting>
            <setting name="Msg_InvalidNumberOfArguments" serializeAs="String">
                <value>引数の数が不正です</value>
            </setting>
            <setting name="Msg_NumberOfArgumentsRequired" serializeAs="String">
                <value>{0}個の引数が必要です．</value>
            </setting>
            <setting name="Msg_InvalidArgument" serializeAs="String">
                <value>引数が不正です</value>
            </setting>
            <setting name="Msg_CreateObjectLengthMismatch" serializeAs="String">
                <value>追加されたオブジェクト情報の数と作成されるオブジェクトの数が一致しません</value>
            </setting>
            <setting name="Msg_PleaseSelectObject" serializeAs="String">
                <value>オブジェクトを選択してください</value>
            </setting>
            <setting name="Msg_CannotSpecifyNull" serializeAs="String">
                <value>nullを指定できません</value>
            </setting>
            <setting name="Msg_PleaseSelectPointObject" serializeAs="String">
                <value>点オブジェクトを選択してください</value>
            </setting>
            <setting name="Label_DoNotShowDialogIfNoSettings" serializeAs="String">
                <value>設定がない場合にダイアログを表示しない</value>
            </setting>
            <setting name="Label_Source" serializeAs="String">
                <value>ソース</value>
            </setting>
            <setting name="Msg_PleaseSelectLineObject" serializeAs="String">
                <value>線分オブジェクトを選択してください</value>
            </setting>
            <setting name="Menu_AddLabelBorderUpHere" serializeAs="String">
                <value>ラベル境界を追加(ここまで)</value>
            </setting>
            <setting name="Menu_SetLabelWithName" serializeAs="String">
                <value>ラベルを設定 「{0}」</value>
            </setting>
            <setting name="Msg_FailedToOperate" serializeAs="String">
                <value>処理に失敗しました</value>
            </setting>
        </MotionDataHandler.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MotionDataHandler.Properties.Settings>
            <setting name="Motion_TransparentChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Motion_DefaultBackgroundColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Script_HistoryCapacity" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DialogMotionOperation_IgnoreForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentTimeTabSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Motion_MarginSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Msg_FileModifiedAskSave" serializeAs="String">
                <value>ファイルが変更されています。保存しますか?</value>
            </setting>
        </MotionDataHandler.Properties.Settings>
    </userSettings>
</configuration>