<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDataUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MotionDataUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MotionDataUtil.Properties.Settings>
            <setting name="RearrangeSphereErrorStr" serializeAs="String">
                <value>球を選択してください</value>
            </setting>
            <setting name="InternalDivisionPointErrorStr" serializeAs="String">
                <value>同種の二つのオブジェクトを選択してください</value>
            </setting>
            <setting name="Script" serializeAs="String">
                <value>スクリプト</value>
            </setting>
            <setting name="Run" serializeAs="String">
                <value>実行</value>
            </setting>
            <setting name="ClearResult" serializeAs="String">
                <value>結果をクリア</value>
            </setting>
            <setting name="RunResult" serializeAs="String">
                <value>実行結果</value>
            </setting>
            <setting name="CallHistory" serializeAs="String">
                <value>呼び出し履歴</value>
            </setting>
            <setting name="Clear" serializeAs="String">
                <value>クリア</value>
            </setting>
            <setting name="ClearHistory" serializeAs="String">
                <value>履歴のクリア</value>
            </setting>
            <setting name="NoUseReturnValue" serializeAs="String">
                <value>戻り値を用いない</value>
            </setting>
            <setting name="File" serializeAs="String">
                <value>ファイル(&amp;F)</value>
            </setting>
            <setting name="ScriptBoardTitle" serializeAs="String">
                <value>Script Board</value>
            </setting>
            <setting name="MotionDataUtilityTitle" serializeAs="String">
                <value>Motion Data Utility</value>
            </setting>
        </MotionDataUtil.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MotionDataUtil.Properties.Settings>
            <setting name="MotionDataUtilityForm_SplitMain_SplitterDistance"
                serializeAs="String">
                <value>286</value>
            </setting>
            <setting name="checkNoUseReturnValue" serializeAs="String">
                <value>False</value>
            </setting>
        </MotionDataUtil.Properties.Settings>
    </userSettings>
</configuration>